pip
streamlit>=1.33.0
altair
numpy
pandas
pydeck
streamlit
seaborn
pyvista
panel>=1.4.1
stpyvista


matplotlib
bokeh
param
geovista
colorcet
requests
cmocean>=4.0.3
trame
trame-client
trame-components
trame-server
trame-vtk
trame-vuetify
